body {
    background: linear-gradient(225deg, black, var(--main-color));
    display: flex;
    flex-direction: column;
}

img {
    pointer-events: none;
    user-select: none;
}

.wrapper {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

footer {
    background: #111;
    color: white;
    z-index: 10;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    overflow: visible;
}

footer .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 20px 0;
    color: white;
    background: none;
    text-decoration: none;
    cursor: pointer;
}

footer .info:hover p strong {
    text-decoration: underline;
}

footer .info img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

footer .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .actions a svg {
    color: white;
}
footer .settings {
    display: none;
    place-items: center;
    background: none;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    fill: white;
}
footer .settings:has(button) {
    display: grid;
}
footer .settings svg {
    cursor: pointer;
    transition: .3s;
}
footer .settings svg path {
    pointer-events: none;
}
footer .settings svg[data-action="toggle_menu"]:hover,
footer .settings svg[data-action="toggle_menu"]:focus-visible {
    transform: rotate(25deg);
}
footer .settings .items {
    position: absolute;
    bottom: 110%;
    border-radius: 10px;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
footer .settings[data-open] .items {
    opacity: 1;
    pointer-events: all;
    bottom: 120%;
}
footer .settings ul {
    display: flex;
    flex-direction: column;
    width: 230px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    direction: ltr;
}
footer .settings .items::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: inherit;
}
footer .settings button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    fill: #999;
    color: #999;
    margin: 0 10px;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: .3s;
    white-space: nowrap;
}
footer .settings button:first-child {
    border-top: none;
}
footer .settings button * {
    pointer-events: none;
}
footer .settings button:hover,
footer .settings button:focus-visible {
    fill: var(--main-color);
    color: var(--main-color);
}
footer .settings button div {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;
}
footer .settings button svg {
    width: 20px;
    height: 20px;
    transition: none;
}
footer .settings input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    outline: 1px solid var(--main-color);
    outline-offset: 2px;
    border-radius: 100%;

}
footer .settings input[type="radio"]:checked {
    background: var(--main-color);
}
footer .settings input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    background: none;
    border: none;
    outline: none;
    border-radius: 100%;
}

.categories {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 30px 0;
    z-index: 10;
    box-shadow: 0 0 50px var(--main-color);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 0 0 100% 100% / 0 0 40% 40%;
}
.categories ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.categories button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px 50px;
    border: none;
    color: white;
    fill: white;
    border-radius: 5px;
    cursor: pointer;
    background: var(--card-color, color-mix(in srgb, gray, var(--main-color)));
    outline: 2px dashed transparent;
    outline-offset: 5px;
    transition: .3s;
}
.categories button:hover,
.categories button:focus-visible {
    outline: 2px dashed var(--main-color);
    scale: 1.1;
}
.categories button:active {
    background: var(--main-color);
}
.categories button svg {
    height: 30px;
    transform: rotate(10deg);
    pointer-events: none;
}
.categories button span {
    position: absolute;
    top: 140%;
    background: white;
    color: var(--main-color);
    pointer-events: none;
    padding: 10px 20px;
    border-radius: inherit;
    white-space: nowrap;
    font-weight: lighter;
    opacity: 0;
    transition: inherit;
    transition-delay: 0s;
}
.categories button:hover span {
    transition-delay: .5s;
    opacity: 1;
}
.categories button span::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background: inherit;
}
.categories h2 {
    position: absolute;
    top: 120%;
    color: var(--main-color);
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.container nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    color: white;
}

.container nav .preview {
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 5px solid var(--main-color);
    overflow: hidden;
    outline: none;
    max-width: 200px;
}
.container nav .preview::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: linear-gradient(to bottom, transparent, var(--main-color));
    transition: .5s;
}
.container nav .preview:hover::before,
.container nav .preview:focus-visible::before {
    top: 0;
}
.container nav img {
    position: relative;
    max-width: 100%;
    aspect-ratio: 4/3;
    filter: drop-shadow(0 0 5px black);
    transition: .4s ease-out;
}

.container nav .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.container nav .info p {
    color: color-mix(in srgb, white, transparent);
}
.container nav .info p strong {
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

.container nav .settings {
    height: 100%;
    display: grid;
    place-items: center;
    margin-inline: 100px;
}
.container nav .settings div {
    display: grid;
    width: 100%;
}
.container nav .settings select,
.container nav .settings input {
    font-size: 25px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--main-color);
    outline: none;
    color: white;
    outline: 2px dashed transparent;
    outline-offset: 5px;
    padding: 5px 10px;
    transition: .2s;
}
.container nav .settings select {
    cursor: pointer;
}
.container nav .settings input:hover,
.container nav .settings input:focus-visible,
.container nav .settings select:hover,
.container nav .settings select:focus-visible {
    outline: 2px dashed var(--main-color);
}
.container nav .settings option {
    background: #111;
    color: var(--main-color);
    border: none;
    outline: none;
}
.container nav .settings input::-webkit-outer-spin-button,
.container nav .settings input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container nav .settings input::placeholder {
    color: color-mix(in srgb, var(--main-color), transparent);
}

.container .skins {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    color: white;
}
.container .skins h3 {
    font-weight: lighter;
}
.container .skins ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 40px 0;
    gap: 40px;
    direction: ltr;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    width: 180px;
    height: 250px;
    cursor: pointer;
    background: var(--card-color, color-mix(in srgb, gray, var(--main-color)));
    outline: 2px dashed transparent;
    outline-offset: 10px;
    transition: .3s;
}
.card:hover,
.card:focus-visible {
    outline: 2px dashed var(--main-color);
    scale: 1.1;
}
.card:not(.ctAgent, .tAgent):active {
    background: var(--main-color);
}
.card svg {
    position: absolute;
    fill: white;
    opacity: .3;
    width: 20px;
    left: 15px;
    bottom: 15px;
    aspect-ratio: 1/1;
    transition: .3s;
}
.card svg:hover,
.card svg:focus-visible {
    scale: 1.2;
    opacity: 1;
}
.card svg path {
    pointer-events: none;
}
.card img {
    width: 150px;
    transition: .5s;
    border-radius: 10px;
}
.card span {
    overflow: hidden;
    pointer-events: none;
}

.selected {
    background: var(--card-selected, color-mix(in srgb, var(--main-color), black 20%)) !important;
    outline: none !important;
    scale: 1 !important;
}
.selected:hover,
.selected:focus-visible {
    outline: none !important;
    scale: 1 !important;
}
.selected:hover .helpbox,
.selected:focus-visible .helpbox {
    opacity: 0;
}

.container .choose {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}
.container .choose ul {
    width: 100%;
    height: 100%;
    padding: 40px 15px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 40px;
    list-style: none;
    justify-content: center;
    align-items: center;
    direction: ltr;
}

#modalFullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    backdrop-filter: blur(10px);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
#modalFullscreen button {
    display: grid;
    place-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#modalFullscreen img {
    width: 600px;
    aspect-ratio: 4/3;
}
#modalFullscreen svg {
    width: 50px;
    aspect-ratio: 1/1;
    stroke: white;
    cursor: pointer;
    transition: .3s;
}
#modalFullscreen svg:hover,
#modalFullscreen svg:focus-visible {
    stroke: var(--main-color);
}
#modalFullscreen svg line {
    pointer-events: none;
}

@media (width <= 900px) {
    .wrapper {
        width: 100%;
    }
    .container nav {
        flex-wrap: wrap;
    }
    .container nav .preview {
        max-width: 130px;
    }
    .container nav .settings {
        display: flex;
        justify-content: center;
        align-items: center;
        place-items: unset;
        align-content: unset;
        gap: 20px;
        font-size: 15px;
        height: unset;
    }
    .container nav .settings select,
    .container nav .settings input {
        font-size: 20px;
    }
    .container .skins {
        padding: 0;
    }

    footer .wrapper {
        font-size: 15px;
        width: 90%;
    }
    footer .wrapper .credit {
        display: none;
    }

    #modalFullscreen img {
        width: 300px;
    }

    .categories button {
        padding: 5px;
    }
}